/* source-serif-pro-regular - latin */
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-serif-pro-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/source-serif-pro-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/source-serif-pro-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/source-serif-pro-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/source-serif-pro-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/source-serif-pro-v10-latin-regular.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}

/* playfair-display-regular - latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/playfair-display-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/playfair-display-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/playfair-display-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/playfair-display-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/playfair-display-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/playfair-display-v21-latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}

body {
    background: #C7BBA9;
}

.hero-image {
    width: 931px;
    height: 1074px;
    top: 0px;
    float: right;
}

h1.hero-title {
    position: absolute;
    width: 725px;
    height: 204px;
    left: 147px;
    top: 125px;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 101px;

    color: #332E29;
}

h2.hero-subtitle {
    position: absolute;
    width: 360px;
    height: 81px;
    left: 147px;
    top: 379px;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 101.3%;

    /* identical to box height, or 81px */
    text-transform: uppercase;

    color: rgba(51, 46, 41, 0.65);
}

p.hero-copy {
    position: absolute;
    width: 694px;
    height: 276px;
    left: 147px;
    top: 510px;

    font-family: Source Serif Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 154.3%;

    /* or 46px */

    color: rgba(51, 46, 41, 0.85);
}
